@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    font-family: Montserrat, Helvetica, sans-serif !important;
}
#buyer {
    background-color: #2CA773;
    height: 100vh;
}
.buyer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: white;
  padding: 70px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}
#seller {
    background-color: white;
    height: 100vh;
}
.seller-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: #2CA773;
  padding: 70px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  color: azure;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn {
  border: none;
  padding: 10px 20px;
}
.alert-login {
  background: #ff6b6b;
  color: white;
  padding: 10px;
  margin-top: 10px;
}
.login-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.forgot-back {
  text-decoration: none;
  color: rgb(197, 197, 197);
  font-size: 13px;
}
.forgot-back:hover {
  color: rgb(0, 0, 0);
}


